@using Bitmanager.Web
<!DOCTYPE html>
<html lang="nl">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="icon" href="~/favicon.png">
   <title>@ViewData["Title"]</title>
   @Bundles.Render(Model.RequestCtx, BundleType.Css, "main")
</head>
<body>
   @RenderBody()
   @Bundles.Render(Model.RequestCtx, BundleType.Js, "main")
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
