@model HomeModel
@{
    ViewData["Title"] = "Foto-albums";
}

<div id="main" class="scroll_container bordered-slimbar">
<header class="full-width">
   <nav class="full-width">
      <div id="searchbar">
         <div class="labeled-input">
            <label class="lcell" for="searchq">Zoek:</label>
            <div class="rcell">
                  <input type="search" id="searchq" class="input-cell" autocomplete="off" placeholder="Type hier uw zoekterm...">
            </div>
         </div>
         <div class="labeled-input">
            <label class="lcell" for="albums">Album:</label>
            <div class="rcell">
               <select id="albums" class="input-cell"></select>
            </div>
         </div>
         <div class="labeled-input">
            <label class="lcell" for="years">Jaren:</label>
            <div class="rcell">
               <select id="years" class="input-cell"></select>
            </div>
         </div>
         <div class="labeled-input">
            <label class="lcell"></label>
            <div class="rcell">
               <input type="checkbox" id="per_album" checked /><label for="per_album">Per album</label>
            </div>
         </div>
         <div class="labeled-input">
            <label class="lcell" for="cb_sort">Sort:</label>
            <div class="rcell">
               <select id="cb_sort" class="input-cell"></select>
            </div>
         </div>
         @if (Model.State.DebugFlags != 0) {
               <span id="dbg_timings" class="txtbadge dbg-badge">T</span> <span id="dbg_esrequest" class="txtbadge  dbg-badge">Q</span>
         }
      </div>
   </nav>
</header>
<div id="lightbox" class="full-width"></div>
</div>
<div id="overlay" class="slimbar" style="z-index:9999; transition: visibility 1s"></div>
<div id="context_menu" class="bm_menu">
   <ul>
      <li id="ctx_goto_album" class="bm_menu_item">
         <a href="#"> Ga naar album </a>
      </li>
      <li id="ctx_goto_track" class="bm_menu_item bm_menu_disabled">
         <a href="#"> Ga naar track </a>
      </li>
      <li id="ctx_goto_faces" class="bm_menu_item">
         <a href="#"> Ga naar gezichten </a>
      </li>
      <li id="ctx_info" class="bm_menu_item">
         <a href="#"> Toon informatie </a>
      </li>
   </ul>
</div>

@section Scripts {
   <script type="text/javascript">
      createApplication(@Model.GetStateAsHtmlString());
   </script>
}