@using Bitmanager.Web
@model HomeModel
@{
    ViewData["Title"] = "Foto-albums";
}

<div id="main" class="scroll_container bordered-slimbar">
<header class="full-width">
   <nav class="full-width">
      <div id="searchbar">
         <div class="labeled-input">
            <label class="lcell" for="searchq">Zoek:</label>
            <div class="rcell">
                  <input type="search" id="searchq" class="input-cell" autocomplete="off" placeholder="Type hier uw zoekterm...">
                  <a id="help_link" href="#">?</a>
            </div>
         </div>
         <div id="row_album" class="labeled-input">
            <label class="lcell" for="albums">Album:</label>
            <div class="rcell">
               <select id="albums" class="input-cell"></select>
            </div>
         </div>
         <div id="row_year" class="labeled-input">
            <label class="lcell" for="years">Jaar:</label>
            <div class="rcell">
               <select id="years" class="input-cell"></select>
            </div>
         </div>
         <div id="row_sort" class="labeled-input">
            <label class="lcell" for="cb_sort">Sort:</label>
            <div class="rcell">
               <select id="cb_sort" class="input-cell"></select>
            </div>
         </div>
         <div id="row_per_album" class="labeled-input">
            <label class="lcell"></label>
            <div class="rcell">
               <input type="checkbox" id="per_album" checked /><label for="per_album">Per album</label>
            </div>
         </div>
         @if ((Model.State.DebugFlags & DebugFlags.TRUE) != 0) {
               <span id="dbg_timings" class="txtbadge dbg-badge">T</span> <span id="dbg_esrequest" class="txtbadge  dbg-badge">Q</span>
         }
      </div>
   </nav>
</header>
<div id="content" class="full-width">
   @if (Model.State.AppMode == AppMode.Faces) {
      <div id="face_names" class="scroll_container_y bordered-slimbar">
         <div id="face_header"><input id="face_filter" type="text" /></div>
         <div id="face_list"></div>
      </div>
      <div id="lightbox" class="scroll_container_y slimbar"></div>
   } else {
      <div id="lightbox"></div>
   }
</div>

</div>
@if (Model.State.AppMode != AppMode.Faces) {
   <div id="map" style="height:100%; width:100%;" class="hidden"></div>
}

<div id="overlay" class="slimbar" style="z-index:9999; transition: visibility 1s"></div>
<div id="overlay_map" class="ovl ovl-hidden" >
   <img id="overlay_img"/> 
</div>

<div id="context_menu" class="bm_menu bm_menu_round">
   <ul>
      <li id="ctx_goto_album" class="bm_menu_item">Ga naar album</li>
      <li id="ctx_goto_track" class="bm_menu_item">Ga naar track</li>
      <li id="ctx_find_nearby" class="bm_menu_item">Zoek foto's in de buurt</li>
      @if (Model.RequestCtx.IsInternalIp)
      {
      <li id="ctx_goto_faces" class="bm_menu_item">Ga naar gezichten</li>
      <li id="ctx_goto_faces_dir" class="bm_menu_item">Ga naar gezichten (dir/album)</li>
      }
      <li id="ctx_goto_map" class="bm_menu_item">Ga naar kaart</li>
      <li class="bm_menu_separator"></li>
      <li id="ctx_info" class="bm_menu_item">Toon informatie</li>
      <li id="ctx_frame" class="bm_menu_item">Toon video frame</li>
      <li id="ctx_copy" class="bm_menu_item">Copy filename to clipboard</li>
      <li id="ctx_rot_90" class="bm_menu_item">Rotate 90</li>
      <li id="ctx_rot_180" class="bm_menu_item">Rotate 180</li>
      <li id="ctx_rot_270" class="bm_menu_item">Rotate 270</li>
   </ul>
</div>
<div id="drag_proxy" style="z-index:9999; position:absolute; visibility:hidden"></div>


@section Scripts {
   <script type="text/javascript">
      app = createApplication(@Model.GetStateAsHtmlString());
      app.mapControl = createMapControl(app);
      app.lbControl = createLightboxControl(app);
      app.start(history.state ? "history" : "main"); 
   </script>
}   